.loja {
    background-color: rgb(187, 223, 219);
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: right; 
    border-radius: 8px;
}

.login{
        background-color: darkgray;
    width: 400px;
    margin: 0 auto;
      
    text-align: center;
}

.cadastro{
   
     background-color: darkgray;
    width: 400px;
    margin: 0 auto;
      
    text-align: center;
}

.produto{
    background-color: darkgray;
    width: 400px;
    margin: 0 auto;
      
    text-align: center;
}